.header {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 5px;
    background-color: rgb(249, 247, 246);
  }
 
  .logo-container img {
    width: 200px;
    height: auto;
  }
 
  .title {
    font-family: 'Carter One', cursive;
    font-size: 50px;
    color:rgb(21, 185, 185);
    margin-left: 15px; /* Espacio entre el logo y el texto */
  }
