<app-navbar></app-navbar>

<div class="component-container">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/dashboard/icono_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">CARGAR NUEVO ANIMAL RESCATADO</h4>          
          <a routerLink="/animal-registration" class="btn btn-primary">Cargar Animal</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/dashboard/icono_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">VER SOLICITUDES ADOPCION</h4>          
          <a routerLink="/list-solicitudes" class="btn btn-primary">Ver Solicitudes</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/dashboard/icono_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">VER ANIMALES </h4>          
          <a routerLink="/animal-registration" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/dashboard/icono_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>          
          <a routerLink="/animal-registration" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/dashboard/icono_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>          
          <a routerLink="/animal-registration" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>
