<app-navbar></app-navbar>

<br>
<div class = "qs">
        <h1 >Colabora con nosotros</h1>
    
        <p>
            "¡Ayúdanos a seguir salvando vidas!

            En nuestra misión de brindar un hogar amoroso a los animales sin hogar, contamos con el apoyo generoso
             de personas como vos. Tu donación o colaboración puede marcar la diferencia y permitirnos continuar nuestro
              trabajo vital para proteger y cuidar a estos animales indefensos.
        </p>
        
        <p>
            Tu contribución puede ayudarnos a cubrir los costos de atención veterinaria, alimentación, refugio y 
            adopción. Cada peso cuenta y nos acerca un paso más a nuestro objetivo de encontrar hogares
             amorosos para todos estos animales que tanto lo necesitan.
        </p>
       
        <p>
            Si deseas hacer una donación, puedes hacerlo de las siguientes maneras:
        </p>
        <p>
            - Mercado pago: podes donar desde $100 al cvu: 039948837726625553545633, alias: pet.rescue.mdq
        </p>
        <p>
            - Donación en persona: Estamos encantados de recibir donaciones como medicamentos o alimento para los animales. Puedes contactarte  
           via correo o telefonicamente y coordinar la entrega de tu contribución. ¡Agradecemos personalmente tu generosidad!
        </p>
            
        <p>
            Agradecemos sinceramente cualquier forma de colaboración que elijas. Cada acto de bondad cuenta y nos acerca 
            a nuestro objetivo de darles una vida mejor a estos animales.
            
            Si deseas obtener más información sobre cómo colaborar o hacer una donación, no dudes en comunicarte con
             nosotros a través de los siguientes canales de contacto: contacto@petrescuemdq.com, o llamando al 2235488374443;
            
            ¡Gracias por ser parte de nuestro esfuerzo por hacer del mundo un lugar mejor para los animales sin hogar!
        </p>
        
     
    
</div>
<br>
<div>
    <img class= "imagen" src="assets\img\quienes-somos.jpg" alt="">
</div>

