.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .card {
    width: 23%; /* Ajusta según tus necesidades para dejar espacio entre las tarjetas */
    margin-bottom: 20px;
    /* border: 1px solid #ddd; */
    /* padding: 15px; */
    box-sizing: border-box;
  }