<app-navbar></app-navbar>

<br>

<h1>Quienes Somos</h1>
<div class = "qs">
    
      <p> Somos un equipo amante de los animales que se dedica 
        a encontrar hogares amorosos para aquellos peludos que necesitan una segunda oportunidad.</p>
      <p>Nuestra misión es brindar un refugio seguro y cariñoso para los animales abandonados, maltratados o en situación 
        de riesgo. Trabajamos arduamente para rescatarlos, proporcionarles los cuidados necesarios y encontrarles un hogar 
        permanente donde puedan ser amados y cuidados como se merecen.</p>
      <p>En nuestra página, encontrarás una amplia variedad de animales disponibles para adopción, desde adorables cachorros 
        hasta gatos y perros adultos. Además, nos enorgullece contar con un equipo de voluntarios dedicados y comprometidos 
        que brindan atención y amor a nuestros animales mientras esperan ser adoptados.</p>
      <p>Si estás buscando expandir tu familia con una mascota amorosa y leal, te invitamos a explorar nuestra página y conocer
        a los animales que están esperando ansiosamente por un hogar. ¡Juntos podemos hacer la diferencia en la vida de estos
         maravillosos seres!</p>
      <p>No dudes en contactarnos si tienes alguna pregunta o si estás interesado en adoptar uno de nuestros animales. Estaremos
        encantados de ayudarte en este hermoso proceso de adopción.</p>
      <p>¿Sabías que tú también puedes hacer la diferencia en la vida de un animal sin hogar? Si no estás en condiciones de 
        adoptar, ¡no te preocupes! Existe una forma maravillosa de ayudar: brindándoles tránsito temporal.</p>
      <p> Darle tránsito a un animal sin hogar significa abrir las puertas de tu hogar y ofrecerle un lugar seguro y amoroso 
        mientras encuentra su familia permanente. Puede ser una experiencia gratificante tanto para el animal como para ti.</p>
      <p> ¡Gracias por considerar la adopción y por ser parte del cambio en la vida de estos animales!</p> 
       
</div>
<br>
<div>
    <img class= "imagen" src="assets\img\quienes-somos1.jpg" alt="">
</div>
