<main class="py-5">
    <section class="mb-5">
      <div class="container">
          <h3 class="mb-3"><strong>Info Usuario Nro. {{ usuario?.id }}</strong></h3>
          <div>
            <p>Nombre completo: {{ usuario?.nombre }} {{ usuario?.apellido }}</p>
            <p>DNI: {{ usuario?.dni }}</p>
            <p>Domicilio: {{ usuario?.domicilio?.calle }} {{ usuario?.domicilio?.numero }}, piso: {{ usuario?.domicilio?.piso }}, depto: {{ usuario?.domicilio?.departamento }}, Codigo Postal: {{ usuario?.domicilio?.codigoPostal }}</p>
            <p>Telefono: {{ usuario?.telefono }}</p>
            <p>Email: {{ usuario?.email }}</p>
            <div><strong>VIVIENDA:</strong> 
                <p>Cantidad integrantes: {{ usuario?.datosVivienda?.integrantes }}</p>
                <p>Ambientes{{ usuario?.datosVivienda?.ambientes }}</p>
                <p>Tipo vivienda: {{ usuario?.datosVivienda?.tipoVivienda }}</p>
                <p *ngIf="usuario?.datosVivienda?.ninios">Tiene niños: SI</p>
                <p *ngIf="!usuario?.datosVivienda?.ninios">Tiene niños: NO</p>
                <p *ngIf="usuario?.datosVivienda?.mascota">Mascotas: SI</p>
                <p *ngIf="usuario?.datosVivienda?.mascota">Cuales: {{ usuario?.datosVivienda?.especificacion }}</p>
                <p *ngIf="!usuario?.datosVivienda?.mascota">Mascotas: NO</p>
                <p *ngIf="usuario?.datosVivienda?.patio">Tiene patio: SI</p>
                <p *ngIf="!usuario?.datosVivienda?.patio">Tiene patio: NO</p>                         
            </div>
            <div><strong>DISPONIBILIDAD:</strong>
                <p>Fecha Inicio: {{ usuario?.disponibilidad?.startDate }}</p>
                <p>Fecha Fin: {{ usuario?.disponibilidad?.endDate }}</p>
                <p>Tamaño mascota: {{ usuario?.disponibilidad?.size }}</p>
                <p>Especie: {{ usuario?.disponibilidad?.especie }}</p>

                </div>                                       
        </div>
      </div>
    </section>
</main>
